/* Script CSS permettant l'ajout de style aux élements de la page (couleur, police, position...) */


/*Style général de la page*/
.body, html {
    background-color: blue /*Définition d'une couleur de fond*/
}


/*Style du titre principale*/
.titre_principale {
    color: rgb(255, 255, 255); /*Définition couleur de texte*/
    font-family: Calibri; /*Définition police de texte*/
    font-weight: bold; /*Mise en gras du texte*/
    font-size: 50px; /*Définition taille du texte*/
    text-align: center /*Définition position du texte*/
}


/*Style des titres secondaires*/
.titre_secondaire {
    color: rgb(255, 255, 255);
    font-family: Calibri;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline /*Soulignage texte*/
}


/*Style des textes*/
.texte {
    color: white;
    font-family: Arial;
    font-size: 25px
}


/*Style des listes*/
.liste {
    color: white;
    font-family: Arial;
    font-size: 20px
}


/*Style des images*/
.image {
    width: 150vh; /*largeur de l'image*/
    height: 100vh; /*hauteur de l'image*/
    object-fit: contain /*Cette fonction permet de grader les proportions d'origine de l'image*/
}


/* Création et animation des pop-up d'image */
.popup {
    display: none; /*Génération d'un fond sombre quant l'image s'affiche en grand*/
    position: fixed;
    z-index: 1000; /*Doit s'afficher par dessus tout les autres élements*/
    left: 0; /*Commence en haut à gauche*/
    top: 0;
    width: 100%; /*Doit prendre tout l'écran*/
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /*Fond gris transparent*/
    justify-content: center;
    align-items: center; 
    flex-direction: column; /* Alignement vertical */
}


/* Image agrandie */
.popup-content {
    max-width: 90%; /*Taille image zoomer*/
    max-height: 90%; /*Taille image zoomer*/
    border: 5px solid white; /*Couleur bordure*/
    border-radius: 10px; /*Epaisseur bordure*/
    margin-top: 20px; /* Un peu d'espace pour éviter que l'image touche le titre */
}
